@inherits LayoutComponentBase

<NavMenu />
<ArrowNav />

<!-- Main Content -->
<div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper" style="background-image: url(images/main_bg_light.jpg);">
        <!-- Subpages -->
        <div class="subpages">
            @Body
        </div>
    </div>
    <!-- /Page changer wrapper -->
</div>
<!-- /Main Content -->