@page "/"
@using Application.Client.Repositories
@using Application.Client.Services
@using Application.Shared.IndexPage

<section id="testId" class="pt-page pt-page-1 section-without-bg section-paddings-0 table pt-page-current pt-page-scaleUpDown pt-page-delay300" data-id="home">
    <div class="section-inner">
        <div class="home-page-block">
            <h2>@Title.FullName</h2>
            <div class="owl-carousel text-rotation">
                @foreach (var item in Title.Items)
                {
                    <div class="item">
                        <p class="home-page-description">@item</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code
{
    [Inject] public IJSRuntime Js { get; set; }
    [Inject] public INavigationService NavigationService { get; set; }
    [Inject] public IIndexPageDataRepository Repository { get; set; }

    public Title Title { get; set; } =  new Title();

    protected override async Task OnInitializedAsync()
    {
        NavigationService.AnimatePageRemovalAsync = AnimatePageRemovalAsync;

        Title = await Repository.GetTitleAsync();

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            await Js.InvokeVoidAsync("window.initIndex");
    }

    private async Task AnimatePageRemovalAsync()
    {
        await Js.InvokeVoidAsync("testAnimationFunction", 21);

        await Task.Delay(300);
    }
}
